:root {
     --main: #FFB6C1;
     --secd:   #E6BE8A;
     --thrd:    #333333;
     --frth:    #666666;
     --opsi:    #E6E6FA;
     --bg:     #C8AE7D;
     --shadow: 0 2px 2px rgba(0, 0, 0, 0.5); 
}

body {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 2000px;
}

/* Navbar Start */
.mynavbar{
    background-color: var(--main) !important;
    opacity: 50%;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
    height: 100vh;
}
/* Navbar End */

/* Section Hero Start */
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/foto4.jfif);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
    margin-top: -15px;
}

.hero h2, .hero h3, .hero h4 {
    text-shadow: var(--shadow);
 }

.hero h3 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 5.2rem;
}

.hero a {
    color: var(--main );
    background-color: white;
    text-shadow: var(--shadow);    
}

.hero a:hover {
    color: white;
    background-color: var(--main);
}
/* Section Hero End */

/* Section Feature Start */
.feature {
    font-size: 0.9rem;
}

.feature h5 {
    font-weight: bold;
    font-size: 1rem;
}
/* Section Feature End */



/* media query start */
/* Laptop Start */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
}
/* Laptop End */


/* Tablet Start */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}
/* Tablet End */


/* HP Start */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
}
/* HP End */

/* media query end */